<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <bypassTrustedAppStrongNames enabled="false" />
  </runtime>
  <appSettings>
    <add key="Constr" value="Data Source=sqlserver9.loosefoot.com;Initial Catalog=zsiPAFEIS;User Id=zsi;Password=dbaUser1;" />
    <add key="Developer" value="GF" />
    <add key="TimerInterval" value="1000" />
    <add key="SharedFolder" value="C:\Users\Home\Google Drive\zsiAdminSharedFiles\NexgenScriptsAndApps\compiler\gf\" />
  </appSettings>
</configuration>